<header class="hero">
    <div class="container spacing">
      <h1 class="primary-title">Amazing shoes at an amazing price</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quam perspiciatis facilis beatae laudantium
        quidem enim sit sequi!</p>
      <a href="/products" class="btn">See what we have</a>
    </div>
</header>

<main>

    <section class="featured">
        <div class="container">
            <h2 class="section-title">Featured products</h2>
            <div class="split">
                <a href="#" class="featured__item">
                    <img src="../../../assets/img/shoe-4.png" alt="" class="featured__img">
                    <p class="featured__details"><span class="price">Rs. 999</span>shoe name</p>
                </a>
                <a href="#" class="featured__item">
                    <img src="../../../assets/img/shoe-5.png" alt="" class="featured__img">
                    <p class="featured__details"><span class="price">Rs. 1500</span>shoe name</p>
                </a>
                <a href="#" class="featured__item">
                    <img src="../../../assets/img/shoe-6.png" alt="" class="featured__img">
                    <p class="featured__details"><span class="price">Rs. 2000</span>shoe name</p>
                </a>
            </div>
        </div>
    </section>


    <section class="our-products" style="cursor: pointer;">
        <div class="container">
            <h2 class="section-title">Best Selling Products</h2>

            <div class="row">
                <div class="col-lg-6 cols-sm-12">
                    <article class="product shoe-red spacing">
                        <h3 class="product__title text-center">Casual Shoes</h3>
                        <img src="../../../assets/img/shoe-1.png" alt="" class="product__image">
                        <p class="product__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quam
                            perspiciatis facilis beatae laudantium quidem enim sit sequi!</p>
                        <a href="" class="btn">Buy now</a>
                    </article>
                </div>
                <div class="col-lg-6 cols-sm-12">
                    <article class="product shoe-white shoe-left spacing">
                        <h3 class="product__title text-center">Party Shoes</h3>
                        <img src="../../../assets/img/shoe-2.png" alt="" class="product__image">
                        
                        <p class="product__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quam
                             laudantium quidem enim sit sequi!</p>
                        <a href="" class="btn">Buy now</a>
                    </article>
                </div>
                <div class="col-lg-6 cols-sm-12">
                    <article class="product shoe-blue spacing">
                        <h3 class="product__title">Formal shoes</h3>
                        <img src="../../../assets/img/shoe-3.png" alt="" class="product__image">
                        
                        <p class="product__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quam
                            perspiciatis facilis beatae laudantium quidem quidem quidem!</p>
                        <a href="" class="btn">Buy now</a>
                    </article>
                </div>
                <div class="col-lg-6 cols-sm-12">
                    <article class="product shoe-white shoe-left spacing">
                        <h3 class="product__title">Party Heels</h3>
                        <img src="../../../assets/img/shoe-2.png" alt="" class="product__image">
                        
                        <p class="product__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quam
                            perspiciatis facilis beatae laudantium quidem!</p>
                        <a href="" class="btn">Buy now</a>
                    </article>
                </div>
            </div>
        </div>
    </section> 

    <section class="container" style="margin-top: -100px">
        <div class="card-title">
            <h2 class="text-center mb-4">
                Our Partners
            </h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="text-center m-2 p-2">
                        <img 
                            src="https://upload.wikimedia.org/wikipedia/commons/2/20/Adidas_Logo.svg" 
                            class="rounded" 
                            alt="..."
                            height="120px"
                            width="100%"
                        >
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="text-center m-2 p-2" style="">
                        <img 
                            src="https://preview.thenewsmarket.com/Previews/RBOK/StillAssets/1920x1080/551064.png" 
                            class="rounded" 
                            alt="..."
                            height="150px"
                            width="100%"
                        >
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="text-center m-2 p-2">
                        <img 
                            src="https://image.shutterstock.com/image-photo/kiev-ukraine-march-31-2015-600w-275940803.jpg" 
                            class="rounded" 
                            alt="..."
                            height="150px"
                            width="100%"
                        >
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="text-center m-2 p-2">
                        <img 
                            src="https://upload.wikimedia.org/wikipedia/en/4/49/Puma_AG.svg" 
                            class="rounded" 
                            alt="..."
                            height="150px"
                            width="100%"
                        >
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>