<div class="bg">
    <div class="container mt-5">
        <div class="text-center text-white text muted">
            <h1>
                <b>It's Time To Us</b>
            </h1>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate, ab? Cupiditate a explicabo libero placeat reprehenderit iure blanditiis molestias in. Deleniti veniam optio natus quos fugit tempore qui quod enim.
            </p>
        </div>
    </div>

    <div class="container my-1 text-seconday">
        <div class="row">
            <div class="col-4">
                <div class="card p-2" style="width: 22rem;">
                    <img 
                        src="https://images.unsplash.com/photo-1544005313-94ddf0286df2?ixlib=rb-1.2.1ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=688&q=80" 
                        class="card-img-top" alt="user"
                        height="350px"

                    >
                    <div class="card-body">
                        <h5 class="card-title">Kashmri Moni Mahanta</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div class="row">
                            <div class="col-6">
                                <a href="#" class="btn btn-outline-primary">
                                    <i class="fa fa-plus"></i>
                                    &nbsp;Follow
                                </a>
                            </div>
                            <div class="col-6">
                                <a href="#" class="btn btn-info">
                                    <i class="fa fa-message"></i>
                                    &nbsp;Message
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card p-2" style="width: 22rem;">
                    <img 
                        src="https://images.unsplash.com/photo-1544005313-94ddf0286df2?ixlib=rb-1.2.1ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=688&q=80" 
                        class="card-img-top" alt="user"
                        height="350px"

                    >
                    <div class="card-body">
                        <h5 class="card-title">Kashmri Moni Mahanta</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div class="row">
                            <div class="col-6">
                                <a href="#" class="btn btn-outline-primary">
                                    <i class="fa fa-plus"></i>
                                    &nbsp;Follow
                                </a>
                            </div>
                            <div class="col-6">
                                <a href="#" class="btn btn-info">
                                    <i class="fa fa-message"></i>
                                    &nbsp;Message
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card p-2" style="width: 22rem;">
                    <img 
                        src="https://images.unsplash.com/photo-1544005313-94ddf0286df2?ixlib=rb-1.2.1ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=688&q=80" 
                        class="card-img-top" alt="user"
                        height="350px"

                    >
                    <div class="card-body">
                        <h5 class="card-title">Kashmri Moni Mahanta</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div class="row">
                            <div class="col-6">
                                <a href="#" class="btn btn-outline-primary">
                                    <i class="fa fa-plus"></i>
                                    &nbsp;Follow
                                </a>
                            </div>
                            <div class="col-6">
                                <a href="#" class="btn btn-info">
                                    <i class="fa fa-message"></i>
                                    &nbsp;Message
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>